/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
  /* margin: 0px; ajouté pour supprimer la marge présente par défaut sur la balise body*/
    
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
   
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
    /* ajouter une propriété background color pour changer la couleur de fond ici grise doit devenir blanc */
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}


/* Ajout de propriétés sur le header pour afficher le logo à gauche et les boutons de nav à droite (justify). la direction est row par défaut*/
header {
    display: flex;
    justify-content: space-between;
}
/* les paddings ne sont pas les mêmes pour le logo et les boutons, je fais donc une classe spécifique pour le logo*/
.logo {
    padding-top: 30px;
    padding-bottom: 30px;
}

/*Ajout de propriété sur les boutons pour espacement ??*/
.button{
      margin-left: 68px; /* le gap est de 68px sur les versions desktop, mobile et large desktop*/
     
}
/*Ajout de propriété sur les boutons pour le comportement au hover.*/
.button:hover {
    border-top: 2px var(--main-color) solid;
    color: var(--main-color);
}
/*Ajout de propriété sur nav pour que les boutons s'affichent cote à cote, en flex*/
nav {
    display : flex;
    
    /* justify-content: space-between; ne semble avoir aucune impact, où commence le bloc nav par rapport au header ? pourquoi ça ne fonctionne pas ? 
   c'est pourtant bien ici, si j'enlève display flex, les boutons se retrouvent l'un en dessous de l'autre  */
}

#logo_localisation {
    background-color : var(--main-bg-color);
    border-radius: 15px 0px 0px 15px ;
    border : 1px solid var(--main-bg-color);
    /* taille du cadre, pas de l'image
    width: 50px;
    height: 49px; */
    padding: 15px 16px 15px 16px;   
}

#location {    
    /* border: 1px solid var(--main-bg-color); */
    border-top : 1px solid var(--main-bg-color);
    border-bottom : 1px solid var(--main-bg-color);
    border-left: 0 solid var(--main-bg-color);
    border-right: 0 solid var(--main-bg-color);
    /* y a quand même toujours un écart avec le bouton!!*/
    font-size: 18px; 
    font-weight: 700;
    color: black;
    text-align:center;
    /* justify-content: center;  */
    padding: 15px 16px 15px 16px;
    /* padding-inline: 0; */   
    /* margin: 0; */
    /* margin-right: 0; */
    width: 195px;
  
}

#bouton {
    background-color: var(--main-color);
    color: white;
    border-radius: 0px 15px 15px 0px ;
    border : 1px solid var(--main-color);
    padding: 15px 16px 15px 16px;
    font-size: 18px; 
    font-weight: 700;    
    width: 132px; /*impose la taille de la maquette desk, tablette et largedesk*/
}

/* permet de forcer la couleur du texte du placeholder */
::placeholder{
    color: black;
}

.searchbar {
    display: flex;
    padding: 15px 0px 15px 0px;
    margin: 15px 0px 15px 0px;
}   

.filter{
    display: flex;
    align-items: center;
    padding-bottom: 15px ;
    margin-bottom: 15px ;
}

.filter_button{
    display: flex;
    /* justify-content: space-between; pas d'impact ? */
    border-radius: 25px;
    border: 2px solid var(--main-bg-color);
    padding: 4px 19px 4px 19px;
    margin: 7.5px;
    gap: 10px;
}

.filter_button:hover{
    background-color: var(--filter-bg-color);
}

.subinfo{
    display: flex;
    margin-top: 10px;
    margin-bottom : 40px;
}

 #ellipse {
    width: 24px;
    height: 24px;
    position: relative; 
}  

#iconeinfo{
    width: 4px;
    height : 10px;
    position: relative;
    left : 14px; 
    top : 5px; 
}






/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 30px;
    
    
}



/* section du bloc des 6 cartes*/
.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    gap : 30px;    
    padding-top: 30px;
    padding-bottom: 30px;
} 


 /* sélecteur combiné => classe card à l'intérieur d'une balise de classe hebergements-cards
 cette section définit le style de la card (boite contenant image + contenu texte)
 */
.hebergements-cards .card {
    display: flex;
    flex-direction: column; /* direction : dispo entre image et texte; verticale donc column*/
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    height: auto;
    min-width: 250px;
    /* margin-top: 33px; avec ce margin, l'écart entre les deux lignes de card est trop important, j'utilise padding bottom et top sur hebergements-cards*/
} 

/* cette section définit le style de l'image de la card */
.hebergements-cards img {
    max-width: 100%;
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;   
    box-sizing: border-box;
}

/* cette section définit le style du contenu de la card (titre, prix, étoiles)*/
.hebergements-cards .card-content {
    
    margin-top: 4px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    box-sizing: border-box;
    max-width: 100%;
    /* overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;   */
    
}

.hebergements-cards .card-title {
    margin : 0;
    max-width: 100%;
    text-overflow: ellipsis; 
    white-space: nowrap;  
    overflow: hidden;
}

.hebergements-cards .card-subtitle {
    margin-bottom: 4px;
    margin-top: 4px;
}

/* .hebergements-cards .card-rating {
    margin-top: 4px;
} */

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title, .hebergements-title, .activites-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.activites {
    padding: 30px; 
    display: flex;
    flex-direction: column;
    max-width: 100%;
    /* gap: 30px; */
    height: 559px;
    width: 1340px;
    box-sizing: border-box;
}

.activites-cards {
    margin-top: 33px;
    display: flex;
    max-width: 100%;
    /* max-height: 100%; */
    gap: 30px; 
    flex-wrap: wrap; 
    height: 78%;
    width: 100%;
    box-sizing: border-box;
    /* justify-content: space-between; =>passe de 4 cartes sur une ligne à une par ligne !*/
    
  
} 

 .activites-cards .card {
   display: flex;
   flex-direction: column; 
   box-sizing: border-box;
   height: 100%;
   max-width: 200px;
   min-width: 100px;
   
} 

.activites-cards img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}



.activites-cards .card-content {
    width: 100%;
    /* gap: 10px; */
    padding: 20px 19px 20px 19px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.activites-cards .card-title {
    margin: 0;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */

   
   


   

    /* Ajout de propriétés sur le header pour afficher le logo en haut au centre et les boutons de nav en dessous */
    header {
        display: flex;
        flex-direction: column;/* permet d'avoir le logo au dessus du bloc nav*/
        align-items: center;    /* permet d'avoir le logo au centre sur la largeur */  
        /* justify-content: safe-center; */
        padding-right: 0px;  /* permet de neutraliser le padding indiquer sur la partie desktop */  
        padding-left: 0px;       /* permet de neutraliser le padding indiquer sur la partie desktop */  
       /* width: 100vw;  si je demande fit content, se décale sur le coté, on voit que le header 
        n'occupe toujours pas tout l'espace mais il n'est plus centré, idem si je mets 100vw*/
        margin: 0px;
        max-width: none;
        box-sizing: border-box;
        overflow-x: hidden;
    }    

    .logo{
       /* padding: 30px;  permet d'avoir le logo au centre en hauter mais on met un padding pour tout le bloc header, pas pour le logo seul*/
        justify-content: center;
    }

    /*Ajout de propriété sur nav pour que les boutons s'affichent cote à cote, en flex*/
    nav {
        display : flex;
        /* width: 100%; */
         /* justify-content: center;   */
         /* align-items: flex-start; */
         /* padding: 0px; */
        
    }
    /*Ajout de propriété sur les boutons pour espacement ??*/
    .button{
        padding-left: 68px; 
       padding-right: 68px; 
       padding-bottom: 15px; 
       margin: 0px;
       border-bottom: 2px var(--main-bg-color) solid;
     
    }

    /*Ajout de propriété sur les boutons pour le comportement au hover.*/
    .button:hover {
        border-bottom: 2px var(--main-color) solid;
        border-top: 0px var(--main-bg-color) solid;
        color: var(--main-color);
    }
 
    
    .section-title{
        background-color: white; /*ajouté pour supprimer le fond de la section titre, en vain*/
    }




 
}